body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}

.backImg {
  background-image: url(oregon.jpg);
  background-size: contain;
  height: 905px;
}

/* header */
header {
  height: 100px;
  width: 100%;
  padding: 25px;
  color: white;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
  margin-top: -30px;
  //background-color: lightblue;
  //opacity: 0.01;
}

header ul {
  float: left;
  padding: 10px;
  color: white;
}

header ul li {
  display: inline;
  color: white;
  font-size: 15px;
  padding: 10px;
}

header ul a:hover {
  text-decoration: none;
  color: inherit;
  background-color: lightblue;
  padding: 10px 10px;
  border-radius: 20px;
}

#signin {
  margin-right: 40px;
  padding: 10px 10px;
  border-radius: 20px;
  background: lightblue;
  font-weight: bold;
}

#iconFB, #iconTwitter, #iconInsta {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  color: #484848;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  margin: 10px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  border-top: solid 2px #e4e4e4;
}

a {
  color: black;
}

a:hover {
  color: darkgrey;
}

footer ul li {
  color: black;
  font-size: 15px;
  padding: 10px;
}

.verticalList {
  margin-top: 10px;
}

.verticalList ul li {
  display: inline-block;
}

.topFooter {
  display: flex;
  justify-content: space-around;
  padding-right: 20%;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  float: right;
  margin-right: 30px;
}

.footer-left {
  float: left;
  margin-left: -30px;
}

.bottomFooter ul li {
  display: inline-block;
  padding: 2px;
}

.topFooter ul {
  display: inline-block;
  list-style: none;
}

.first {
  width: 95%;
  height: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form {
  background: white;
  width: 420px;
  height: 50%;
  margin-left: 50px;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
  padding-top: 15px;
}

.form label {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

#location {
  width: 370px;
  margin-left: 15px;
  padding: 5px;
}

#arrival {
  width: 165px;
  float: left;
  margin-left: 15px;
  padding: 5px;
}

#departure {
  float: right;
  width: 165px;
  margin-right: 15px;
  padding: 5px;
}

#selection {
  width: 370px;
  margin-left: 15px;
  padding: 5px;
}

#search {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  border-radius: 4px;
  background: #fd5c63; //the airbnb pink
  width: 50%;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.message {
  background: linear-gradient(360deg, white 95%, #fdcd3b 5%);
  width: 420px;
  height: 28%;
  margin-left: 50px;
  margin-top: 30px;
  padding: 20px;
  text-align: left;
  border-radius: 4px;
  //padding-top: 20px;
}

#titleCOVID {
  font-size: 18px;
}

#msgCOVID {
  color: grey;
}

.message a:hover {
  color: black;
}

.dropbtnV {
  padding: 10px;
  width: 370px;
  margin-left: 15px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-contentV {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentV a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentV a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-contentV {
  display: block;
}

.dropdown:hover .dropbtnV {
  background-color: none;
}

.dropbtnL {
  padding: 10px;
  width: 50px;
  margin-left: 15px;
  text-align: left;
  background: none;
  border-radius: 4px;
  display: inherit;
}

.dropdown-contentL {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentL a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentL a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtnL {
  background-color: none;
}

.dropdown:hover .dropdown-contentL {
  display: block;
}

#globe {
  width: 25px;
  justify-content: center;
}

@@media query {

}
