<h2>Créer un compte</h2>
<form [formGroup]="registerForm" #f=ngForm (ngSubmit)="onFormSubmit(f.value)">
  <div class="form-group">
    <label for="firstname">Prénom:</label>
    <input class="form-control" placeholder="Enter first name" id="firstname" required formControlName="firstName">
  </div>
  <div class="form-group">
    <label for="lastname">Nom:</label>
    <input  class="form-control" placeholder="Enter last name" id="lastname" required formControlName="lastName">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input  class="form-control" placeholder="Enter username" id="username" required formControlName="username">
  </div>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="mail" required formControlName="mail"> 
  </div>
  <div class="form-group">
    <label for="pwd">Mot de passe:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" required formControlName="password">
  </div>
   <button type="submit" class="btn btn-primary">Soumettre</button>
</form> 