//
.requir {
  color: red;
}
a{
  font-size: 14px;
}

.card{
  margin-top: 60px;
  width: 420px;
}

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
button:disabled,
button[disabled]{
  color: #fff;
  background-color: #73BFA3 ;
  border-color: #73BFA3 ;
}

.btn {
  background: #73BFA3;
  color: white;
  background-color: #73BFA3 !important;
  border-color: rgb(110, 214, 204) !important;

}

.card-header {
  background:#73BFA3 ;
  color: white;
  padding-bottom: 9px;
}

::placeholder {
  font-size: 14px;
}

