<div class="container d-flex justify-content-center">
  <br />
  <div class="card">
    <h5 class="card-header d-flex justify-content-center">Modifier mot de passe</h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="changePassword()">
        <div *ngIf="!isLoadingResults" class="requir">
          Email ou mot de passe incorrect
        </div>
        <div class="form-group">
          <label>Email</label><span class="requir">*</span>
          <input
            type="email"
            required
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z][a-z]+$"
            placeholder="Entrer votre email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email est obligatoire</div>
            <div *ngIf="email.errors.email || email.errors.pattern">Email doit être valide</div>
          </div>
        </div>
        <div class="form-group">
          <label>Ancien mot de Passe</label><span class="requir">*</span>
​
          <div class="input-group">
            <input
              id="password"
              type="password"
              class="form-control"
              required
              placeholder="Mot de Passe"
              formControlName="password"
              [ngClass]="{ 'is-invalid':  password.invalid && (password.dirty || password.touched) }"
            />
            <div
              *ngIf=" password.invalid && (password.dirty || password.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="password.errors.required">
                Mot de passe est obligatoire
              </div>
              <div *ngIf="password.errors.minlength">
                Mot de passe doit être sur 6 caractères
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Nouveau mot de Passe</label><span class="requir">*</span>
​
          <div class="input-group">
            <input
              id="newPassword"
              type="password"
              class="form-control"
              required
              pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*(){\[\]}<>:;,.~?/|+-]).*$"
              placeholder="Nouveau Mot de Passe"
              formControlName="newPassword"
              [ngClass]="{ 'is-invalid':  newPassword.invalid && (newPassword.dirty || newPassword.touched) }"
            />
            <div
              *ngIf=" newPassword.invalid && (newPassword.dirty || newPassword.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="newPassword.errors.required">
                Mot de passe est obligatoire
              </div>
              <div *ngIf="newPassword.errors.minlength">
               Le mot de passe doit comporter au moins 8 caractères
              </div>
              <div *ngIf="newPassword.errors.pattern"> Il doit contenir au moins un caractère en majuscule  et un caractère special</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Confirmation mot de Passe</label><span class="requir">*</span>
          <div class="input-group">
            <input
              id="confirmPassword"
              type="password"
              class="form-control"
              required
              placeholder="Nouveau Mot de Passe"
              formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid':  confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) }"
            />
            <div
              *ngIf=" confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="confirmPassword.errors.required">
                Mot de passe est obligatoire
              </div>
              <div *ngIf="confirmPassword.errors.minlength">
                Mot de passe doit être sur 8 caractères
              </div>
              <div *ngIf="confirmPassword.errors.mustMatch">Mot de passe non conforme</div>
            </div>
          </div>
        </div>
​
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
        <div class="label-insc d-flex justify-content-center">
          <a href="/login">Connexion</a>
        </div>

      </form>
    </div>
  </div>
</div>