<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="posts">Liste des Posts</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="new">Nouveau Post</a></li>
    </ul>
  </div>

</nav>
<div class="main">
  <h1 class="title">Mon Blog avec Angular</h1>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>