.main {
    padding-bottom: 20px;
    margin: 10px 100px 20px 100px;
}
.title {
    text-align: center;
    border-bottom: double;
    border-bottom-width: thick;
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
}
