<li [ngClass]="{'list-group-item': true,
  'list-group-item-danger': post.loveIts < 0,
  'list-group-item-success': post.loveIts > 0}">
  <div class="row">
    <h2 class="col-md-6 text-left">{{ post.title }}</h2>
    <span class="col-md-6 text-right">{{  post.created_at | date: 'dd/MM/yyyy, HH:mm'  }}</span>
  </div>
  <div class="row">
    <h6 class="col-md-12">
      {{ post.content }}
    </h6>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-success" (click)="onLike()">Love it!</button>
    </div>
    <div class="divider"></div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="onDislike()">Don't love it!</button>
    </div>
    <div class="col-md-6 nbLike">Nombre de likes: {{ post.loveIts }}</div>
    <div class="col-md-1 delete">
      <button type="button" class=" btn btn-danger" (click)="onDelete()">Supprimer</button>
    </div>
    <div class="divider"></div>
    <div class="col-md-1 edit">
      <button type="button" class=" btn btn-danger" (click)="onEdit(i)" routerLinkActive="active"><a
          routerLink="edit">Modifier</a></button>
    </div>
  </div>
</li>