body {
  padding-top: 50px;
  background-color: #909090;
}

ul.nav, .jumbotron h1 {
  font-family: 'Arvo', courier, serif;
}

ul.nav {
  font-size: 13px;
}

.navbar-right {
  padding-right: 100px;
}

.navbar-brand {
  padding-left: 100px;
}

footer {
  background-color: #f74c3c;
  padding-top: 150px;
  padding-bottom: 30px;
}

.jumbotron {
  height: 100%;
}

#home {
  height: 660px;
}

#who {
  background-color: white;
}

#get-involved {
  background-color: #f5f5f5;
}

.jumbotron {
  text-align: center;
  background-image: url('../images/hero-image.jpg');
  color: white;
}

.jumbotron h1 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.jumbotron p {
  margin-bottom: 30px;
  font-weight: 100;
  padding: 0 50px;
}

.btn-lg {
  font-size: 36px;
}

.homepage {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.homepage h2, .homepage h3 {
  color: #e74c3c;
  #jumbotron font-family: 'Arvo', courier, serif;
  text-transform: uppercase;
}

.homepage h2 {
  font-size: 30px;
}

.homepage h3 {
  font-size: 26px;
}

.homepage p {
  font-size: 21px;
  font-weight: 300;
}

.homepage a {
  color: #e74c3c;
}

.homepage a:hover {
  color: #e74c3c;
  text-decoration: none;
  opacity: .8;
}

.homepage hr {
  border-top: 1px solid #e74c3d;
  width: 160px;
  margin-top: 15px;
}

.backtotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  padding: 10px;
}

.backtotop:hover, .backtotop:visited {
  color: white;
}

/* Responsive */
@media (max-width: 1199px) {
  .jumbotron h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .jumbotron h1 {
    font-size: 44px;
  }

  .jumbotron p {
    padding: 0 10px;
  }

  #get-involved .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 24px;
  }

  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }

  .btn-lg {
    font-size: 18px;
  }

  .homepage p {
    font-size: 18px;
  }

  .backtotop {
    bottom: 20px;
    right: 20px;
    font-size: 35px;
  }

  footer img {
    width: 80%;
  }
}
