.required {
    color: red;
    text-align: center;
}

.card {
    margin-top: 60px;
    width: 420px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-size: 14px;
}

.card-header {
    background: #1e88e5;
    color: white;
    padding-bottom: 9px;
    padding-top: 9px;
    max-height: 50px;
}

button:disabled,
button[disabled] {
    color: #fff;
    background-color: #1e88e5;
    border-color: #73BFA3;
}

.btn {
    background: #1e88e5;
    color: white;
    background-color: #1e88e5 !important;
    border-color: #1e88e5 !important;
}

 ::placeholder {
    font-size: 14px;
}