<div class="container d-flex justify-content-center">
    <br />
    <div class="card">
        <h5 class="card-header d-flex justify-content-center">Connexion</h5>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label>Email</label><span class="requir">*</span>
                    <input type="email" required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z][a-z]+$" placeholder="Entrer votre email" formControlName="email" [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                        <div *ngIf="email.errors.email || email.errors.pattern">Email invalide.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mot de Passe</label><span class="requir">*</span> ​
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" required placeholder="Mot de Passe" formControlName="password" [ngClass]="{ 'is-invalid':  password.invalid && (password.dirty || password.touched) }" />
                        <div *ngIf=" password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                            <div *ngIf="password.errors.minlength">
                                Mot de passe doit avoir une longueur minimum de 6 caractères.
                            </div>
                        </div>
                    </div>
                </div>

                ​
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Se Connecter</button>
                    </div>
                </div>
                ​
                <div *ngIf="!isLoadingResults" class="required">
                    Email ou mot de passe incorrect.
                </div>
                <div *ngIf="isLoadingResults" style="display: none;">Email ou mot de passe incorrect </div>

            </form>
        </div>
    </div>
</div>