li {
    margin-bottom: 30px;
    border-color: lightgrey;
    border-width: thin;
}
h2 {
    margin-top: 10px;
    font-weight: bold;
}

.row {
    margin: 10px 50px 10px 50px;
    width: auto;
}


span {
    color: grey;
    font-weight: bold;
    font-style: italic;
}
.btn-success {
    width: 120px;
    
}
.btn-danger {
    width: 120px;
}

.nbLike {
    text-align: center;
    font-weight: bolder;
}
.divider{
    width:50px;
    height:auto;
    display:inline-block;
}