<!--<li 
[ngClass]="{'list-group-item': true,
  'list-group-item-danger': ad.availabilityAd == 0,
  'list-group-item-success': ad.availabilityAd > 0}"> -->
<li [ngClass]="{'list-group-item': true,
'list-group-item-info': ad.availabilityAd > 0}">

  <div class="row">
    <h2 class="col-md-6 text-left">{{ ad.titleAd }}</h2>
    <span class="col-md-6 text-right">Publiée le: {{  ad.datePublication | date: 'dd/MM/yyyy, HH:mm'  }} <br>Vues:
      {{  ad.numberView  }}</span>
  </div>
  <div class="row">
    <h6 class="col-md-12">
      <h5>Description:</h5>
      <br> {{ ad.descriptionAd }}
    </h6>
  </div>
  <div class="row">
    <div class="col-md-6 nbLike">Prix: {{ ad.priceAd }}</div>
  </div>
</li>