<nav class="navbar navbar-expand-lg navbar-dark bg-primary " style="margin-bottom: 30px;">
  <a class="navbar-brand" href="#">Vintud Shop</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link nav" routerLink="/ads" routerLinkActive="active">Liste des annonces</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav" routerLink="/new" routerLinkActive="active">Créer une annonce</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link nav " routerLink="/register" routerLinkActive="active">Créer un compte</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link nav" routerLink="/login" routerLinkActive="active">Connexion</a>
    </li>
  </ul>
</nav>