/*GENERAL DISPLAY*/

* {
  box-sizing: border-box;
}

.item1 {
  background: red;
  height: 40px;
}

.item2 {
  background: orange;
  height: 120px;
}

.item3 {
  background: yellow;
  height: 180px;
  width: 50%;
}

.item4 {
  background: yellow;
  height: 180px;
  width: 50%;
}

.item5 {
  background: yellow;
  height: 180px;
  width: 50%;
}

.item6 {
  background: yellow;
  height: 180px;
  width: 50%;
}

.item7 {
  background: green;
  height: 240px;
}

.item8 {
  margin-top: -120px;
  background: blue;
  height: 220px;
}

.item9 {
  background: pink;
  height: 220px;
}

article {
  display: flex;
  flex-wrap: nowrap;
}

aside {
  width: 30%;
}

div {
  border: white solid 4px;
}

.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 70%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*DISPLAY ON TABLETS*/
@media screen and (min-width: 501px) and (max-width: 900px) {

  .item4,
  .item5,
  .item6 {
    display: none;
  }

  .container {
    width: 100%;
    display: block;
  }

  .item2 {
    width: 67%;
  }
  .item7,.item8{
    height:120px;
  }
  .item9{
    height:360px;
  }
  .innerContainer {
    width: 100%;
  }

  #rightPanel1 {
    float: right;
    width: 33%;
    margin-top:-300px;
  }

  #rightPanel2 {
    width: 100%;
  }

  .item3,
  .item7,
  .item8,
  .item9 {
    width: 100%;
  }
}

/*DISPLAY ON MOBILES*/
@media screen and (max-width: 500px) {

  .item4,
  .item5,
  .item6 {
    display: none;
  }

  .container {
    width: 100%;
    display: block;
  }

  .innerContainer {
    width: 100%;
  }

  #rightPanel1,
  #rightPanel2 {
    width: 100%;
  }

  .item3,
  .item7,
  .item8,
  .item9 {
    width: 100%;
  }
}
