<nav class="navbar navbar-expand-lg" id="navBar">
    <div class="fitNavigation">
        <div *ngIf="this.loggedin() !== null" id="menu">
            <div *ngIf="this.role() === 'ADMIN'">
                <a class="nav-item " routerLink="/adminDashboard" title=""><em class="fas fa-briefcase"></em></a>
            </div>
            <div *ngIf="this.role() === 'BUYER'">
                <a class="nav-item " routerLink="/buyerDashboard" title=""><em class="fa fa-tasks"></em></a>
            </div>
            <div>
                <a class="nav-item" routerLink="/" (click)="this.authenticationService.logout()" title="Déconnexion"><em
            class="fas fa-sign-out-alt"></em></a>
            </div>

        </div>
    </div>
</nav>