/*BODY - GENERAL */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* NAVIGATION MENU */
#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 10px;
}

#nav_bar #sign_in {
  background: #4887ef;
  margin-right: 25px;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_in {
  color: #fff;
}

/* GOOGLE */
.google {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 100px;
  padding-bottom: 10px;
}

.form {
  text-align: center;
}

#form-search {
  width: 500px;
  line-height: 40px;
  padding: 0 50px;
  border-radius: 30px;
  border-color: lightgrey;
}

.buttons {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#google {
  float: left;
  width: 150px;
}

#lucky {
  float: right;
  width: 150px;
}

#language {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
}

#local_language {
  color: #4887ef;
}

/* FOOTER */
footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  bottom: 0;
  width: 100%;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}
