<h2>Connexion</h2>
<form [formGroup]="loginForm" #f=ngForm (ngSubmit)="onFormSubmit(f.value)">
  <div class="form-group">
    <label for="email">Username:</label>
    <input  class="form-control" placeholder="Enter email" id="email" required formControlName="username">
  </div>
  <div class="form-group">
    <label for="pwd">Mot de passe:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" required formControlName="password">
  </div>
   <button type="submit" class="btn btn-primary" >Soumettre</button>
   <button style="float: right;"   type="button" class="btn btn-primary" (click)="register()">S'enregistrer</button>
</form> 