h1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
}
div {
    padding-bottom: 50px;
    margin:10px 100px 100px 100px;
}
.title {
    text-align: center;
    border-bottom: double;
    border-bottom-width: thick;
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
}
