body {
  font-family: "trebuchet ms", sans-serif;
  font-size: 90%;
}

form {
  background-color: #FAFAFA;
  padding: 10px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

fieldset {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid #DF3F3F;
}

legend {
  color: #DF3F3F;
  font-weight: bold;
}

input {
  width: 200px;
  padding: 5px;
}

label {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#errorMsg {
  color: black;
}

#button {
  width: 150px;
  margin-bottom: 10px;
}
