<div class="row">
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Titre * :</label>
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Contenu * :</label>
      <textarea style="height: 150px;" type="textarea" formControlName="content" class="form-control">
      </textarea>
    </div>
    <div style="padding: 10px;">* Champs obligatoires.</div>
    
    <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Enregister</button>
  </form>
  
</div>